extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hi, I’m @Siva Rama Krishna Manyam
  p I’m interested in Software Development
  p I’m currently pursuing Master's in Applied Computer Science from Northwest Missouri State University.
  p Worked as a Associate Professional Software Engineer in DXC Technology for 1 year.
